@import url(http://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);

#header{
	height: 50px;
	width: 100%;
	background-color: maroon;
	text-align: center;
	color: white;
	padding-top: 2%;
	padding-left: 0%;
}

/*#header2{
	height: 17px;
	width: 100%;
	background-color: maroon;
	text-align: center;
	color: white;
	padding-top: 2%;
	padding-left: 2%; 
    padding-bottom: 2%;
}
*/
#form{
	height: 600px;
	width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 2%;
}

/*.wrapper {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 100%;
    border: 1px solid black;
}
*/

html, body {
margin: 0;
padding: 0; }


.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.45s ease-out 0;
position: fixed;
top: 20px;
left: 20px;
z-index: 1;
cursor: pointer;
}

.sidebar {
position: fixed;
top: 20px;
bottom: 0px;
left: -190px;
-webkit-transition: all 0.15s ease-out 0;
-moz-transition: all 0.15s ease-out 0;
transition: all 0.15s ease-out 0;
width: 10rem;
padding: 1.5em;
background: #800000; 
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0; 
}

.sidebar li a {
color: #fff;
font-family: 'Trebuchet MS', cursive;
font-size: 1.2em;
margin: 0;
margin-bottom: 20px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.sidebar a:hover {
  color: rgba(255, 228, 43, .80); 
}

#slide:checked + .container .sidebar {
left: 0px;
 }

#slide:checked + .container .toggle {
left: 200px;
 }


#slide {
display: none; 
}

#menuItem{
    position: absolute;
    left: -30%;
    width: 30%;
    height: 100%;
    background: maroon;
    transition: .5s;
}

.leftSlide{
    -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: .5s;
  margin-left: 30% !important;
}

#menuButton{
    float: left;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

#menuClose{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

ul{
    list-style-type: none;
}

select{
	height:30px;
	width: 40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

option{
	height: 50px;
	width: 30px;
	text-align: center;
}
